  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Make Feedback Link To RA</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Feedback Request</a></li>
            <li class="breadcrumb-item active">Make Feedback Request</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content p-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form #feedbackRequestForm="ngForm" (ngSubmit)="feedbackRequest()" class="needs-validation" novalidate>
          
            <div class="row">
              <div class="col-12 col-md-6">
             
                 <ng-multiselect-dropdown
                 name="employeeCode"
                 [placeholder]="'Select Employee Code'"
                 [data]="feedbackInternForm.empFullName"
                 [text]="'empFullName'"
                 [settings]="dropdownSettings"
                 (onDropDownClose)="onDropDownClose()"
                 (onSelect)="onItemSelect($event)"
                 (onSelectAll)="onSelectAll($event)"
                 [(ngModel)]="selectedEmployeeCodes">
               </ng-multiselect-dropdown>
 
              
                 
              </div>   
 
               <div class="col-md-4">
                 <button type="submit" class="btn btn-primary" [disabled]="!feedbackRequestForm.valid">Send Feedback Request</button>
               </div>       
            </div>                    
           <br/>
 
            
           </form>
        </div>

      </div>
    </div>
  </section>
