<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Preloader -->
    <!-- <div
      class="preloader flex-column justify-content-center align-items-center"
    >
      <img
        class="animation__shake"
        src="assets/dist/img/logo.jpg"
        alt="AdminLTELogo"
        height="60"
        width="60"
      />
    </div> -->

    <!-- Navbar -->
    <nav
      class="main-header navbar navbar-expand navbar-white navbar-light"
      aria-label=""
    >
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
      </ul>
      <!-- Right navbar links -->
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4" aria-label="">
      <!-- Brand Logo -->
      <a routerLink="/admin/map/dashboard" style="cursor: pointer" class="brand-link">
        <img
          src="assets/dist/img/CSM.png"
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3 bg-light"
          style="opacity: 0.8"
        />
        <span class="brand-text font-weight-light text-bold">JSE FEEDBACK</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2" aria-label="">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
            <li class="nav-item menu-open pb-3">
              <a routerLink="/admin/map/dashboard" style="cursor: pointer" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Admin Dashboard
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/technology']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-desktop"></i>
                <p>
                  Manage Technology
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/batch']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Manage Batch
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/intern']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-user"></i>
                <p>
                 Manage JSE
                
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/intern/uploadintern']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-upload"></i>
                <p>
                  Upload JSE Data
              </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/offboard']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Off Boarding Jse
              </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/assessment']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Assessment
              </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/jsera']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Manage RA
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/mapra']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-link"></i>
                <p>
                   RA-JSE Mapping
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/feedback']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-comment"></i>
                <p>
                  Feedback Request
                </p>
              </a>
            </li>

            <li class="nav-item"> 
              <a class="nav-link" data-toggle="collapse"  [routerLink]="['/admin/map/feedback/view']" style="cursor: pointer;">
                <i class="nav-icon fas fa-copy"></i>
                 <p>
                   View Feedback
                  <i class="fas fa-angle-left right"></i>
                  <span class="badge badge-info right"></span>
                </p>
              </a>                 
            </li>

            <!-- <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/admin/map/feedback']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Report
                </p>
              </a>
            </li> -->

            <li class="nav-item"> 
              <a class="nav-link"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Report
                  <i class="fas fa-angle-left right"></i>
                  <span class="badge badge-info right"></span>
                </p>
              </a>
              <ul class="nav nav-treeview collapse" id="collapseExample">
                <li class="nav-item">
                    <a
                    class="nav-link"
                    data-toggle="collapse"
                    [routerLink]="['/admin/map/report/assessment']"
                    style="cursor: pointer"
                    >
                    <i class="nav-icon fas fa-comment"></i>
                    <p>Assessment</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>List</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="collapse"
                [routerLink]="['/logout']"
                style="cursor: pointer"
              >
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                 Logout
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2023-24
        <a href="https://www.csm.tech">CSM Technologies</a>.</strong
      >
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
      </div>
    </footer>
    </div>
</div>
