
<div class="hold-transition login-page bg-gray">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary OtpBody">
            <div class="card-header text-center text-success text-bold">
                
            WELCOME TO JSE FEEDBACK SYSTEM
            </div>
            <div class="card-body">
                <p class="login-box-msg text-bold">Forgot Password</p><br/>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">

                    <div class="input-group mb-3">
                        <!-- <label for="password">Enter your password:</label> -->
                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" id="conformPassword" class="form-control" formControlName="conformPassword" placeholder="Confirm password">
                        <div *ngIf="forgotPasswordForm.hasError('passwordMismatch') && (forgotPasswordForm.get('conformPassword').touched || forgotPasswordForm.get('conformPassword').dirty)">
                            Passwords do not match.
                        </div>
                        <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">             
                        <!-- /.col -->
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
       
<!-- /.card-body -->
        </div>
<!-- /.card -->
    </div>
</div>