<!-- registration.component.html -->

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="registration-container">
          <h2>Registration</h2><br/>
          <form [formGroup]="registrationForm" (ngSubmit)="register()" class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="employeeCode">Employee Code:</label>
                  <input type="text" id="employeeCode" formControlName="employeeCode" class="form-control" placeholder="Employee Code" required>
                  <div *ngIf="registrationForm.get('employeeCode').hasError('required') && 
                             (registrationForm.get('employeeCode').touched || registrationForm.get('employeeCode').dirty)" class="error-message">
                     Employee Code is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email" required>
                  <div *ngIf="registrationForm.get('email').hasError('required') && 
                             (registrationForm.get('email').touched || registrationForm.get('email').dirty)" class="error-message">
                    Email is required.
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First Name" required>
                  <div *ngIf="registrationForm.get('firstName').hasError('required') && 
                            (registrationForm.get('firstName').touched || registrationForm.get('firstName').dirty)" class="error-message">
                    First Name is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="middleName">Middle Name:</label>
                  <input type="text" id="middleName" formControlName="middleName" class="form-control" placeholder="Middle Name">
                </div>
              </div>
              
            </div>  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last Name" required>
                  <div *ngIf="registrationForm.get('lastName').hasError('required') && 
                            (registrationForm.get('lastName').touched || registrationForm.get('lastName').dirty)" class="error-message">
                    Last Name is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" id="password" formControlName="password" class="form-control"
                     placeholder="Password" required>
                    <div *ngIf="registrationForm.get('password').hasError('required') && 
                        (registrationForm.get('password').touched || registrationForm.get('password').dirty)" class="error-message">
                        Password is required.
                  </div>
                 </div>
              </div>
            </div>
           
    
            <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Register</button>
            <br/>
            <br/>
            <div>
              <p class="mb-0">
                <a [routerLink]="['/login']" class="text-center">Go To Login</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  