  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Update JSE</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Manage JSE</a></li>
            <li class="breadcrumb-item active">Update JSE</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <form #interForm="ngForm" (ngSubmit)="updateIntern()" class="needs-validation" novalidate>
                    <div class="row" hidden>
                        <div class="col-12 col-md-6">
                           <div class="form-group">
                               <label for="employeeCode">ID:</label>
                               <input type="text" id="id" [(ngModel)]="internUser.id" name="id" class="form-control" placeholder="id" required readonly>                    
                           </div>
                        </div>
                    </div>
                   <div class="row">
                     <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="employeeCode">Employee Code:</label>
                            <input type="text" id="employeeCode" [(ngModel)]="internUser.employeeCode" name="employeeCode" class="form-control" placeholder="Employee Code" required readonly>
                            <div *ngIf="interForm.controls['employeeCode']?.hasError('required') && (interForm.controls['employeeCode']?.touched || interForm.controls['employeeCode']?.dirty)" class="error-message">
                                Employee Code is required.
                            </div>
                        </div>
                     </div>
                     <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" [(ngModel)]="internUser.firstName" name="firstName" class="form-control" placeholder="First Name" required>
                            <div *ngIf="interForm.controls['firstName']?.hasError('required') && (interForm.controls['firstName']?.touched || interForm.controls['firstName']?.dirty)" class="error-message">
                                First Name is required.
                            </div>
                          </div>
                     </div>
                   </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="middleName">Middle Name:</label>
                                <input type="text" id="middleName" [(ngModel)]="internUser.middleName" name="middleName" class="form-control" placeholder="Middle Name">
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input type="text" id="lastName" [(ngModel)]="internUser.lastName" name="lastName" class="form-control" placeholder="Last Name" required>
                                <div *ngIf="interForm.controls['lastName']?.hasError('required') && (interForm.controls['lastName']?.touched || interForm.controls['lastName']?.dirty)" class="error-message">
                                    Last Name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" id="email" [(ngModel)]="internUser.email" name="email" class="form-control" placeholder="Email" required readonly>
                                <div *ngIf="interForm.controls['email']?.hasError('required') && (interForm.controls['email']?.touched || interForm.controls['email']?.dirty)" class="error-message">
                                    Email is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mobile">Mobile:</label>
                                <input type="text" id="mobile" [(ngModel)]="internUser.mobile" name="mobile" class="form-control" placeholder="Mobile" required>
                                <div *ngIf="interForm.controls['mobile']?.hasError('required') && (interForm.controls['mobile']?.touched || interForm.controls['mobile']?.dirty)" class="error-message">
                                    Mobile is required.
                                </div>
                            </div>
                
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pmCode">PmCode:</label>
                                <input type="text" id="pmCode" [(ngModel)]="internUser.pmCode" name="pmCode" class="form-control" placeholder="PmCode" required>
                                <div *ngIf="interForm.controls['pmCode']?.hasError('required') && (interForm.controls['pmCode']?.touched || interForm.controls['pmCode']?.dirty)" class="error-message">
                                    Project Manager Code is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pmEmail">PmEmail:</label>
                                <input type="text" id="pmEmail" [(ngModel)]="internUser.pmEmail" name="pmEmail" class="form-control" placeholder="pmEmail" required>
                                <div *ngIf="interForm.controls['pmEmail']?.hasError('required') && (interForm.controls['pmEmail']?.touched || interForm.controls['pmEmail']?.dirty)" class="error-message">
                                    Project Manager Email is required.
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <input type="text" id="location" [(ngModel)]="internUser.location" name="location" class="form-control" placeholder="location" required>
                                <div *ngIf="interForm.controls['location']?.hasError('required') && (interForm.controls['location']?.touched || interForm.controls['location']?.dirty)" class="error-message">
                                    Location is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="projectName">Project Name:</label>
                                <input type="text" id="projectName" [(ngModel)]="internUser.projectName" name="projectName" class="form-control" placeholder="Project Name" required>
                                <div *ngIf="interForm.controls['projectName']?.hasError('required') && (interForm.controls['projectName']?.touched || interForm.controls['projectName']?.dirty)" class="error-message">
                                    Project Name is required.
                                </div>
                              </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="batchId">Select Batch:</label>
                                <select id="batchId" [(ngModel)]="internUser.batchId" name="batchId" class="form-control" required>
                                  <option *ngFor="let batch of batches" [value]="batch.id">{{ batch.batchName }}</option>
                                </select>
                                <div *ngIf="interForm.controls['batchId']?.hasError('required') && (interForm.controls['batchId']?.touched || interForm.controls['batchId']?.dirty)" class="error-message">
                                    Batch Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="technologyId">Select Technology:</label>
                                <select id="technologyId" [(ngModel)]="internUser.technologyId" name="technologyId" class="form-control" required>
                                  <option *ngFor="let tech of technologies" [value]="tech.id">{{ tech.technologyName }}</option>
                                </select>
                                <div *ngIf="interForm.controls['technologyId']?.hasError('required') && (interForm.controls['technologyId']?.touched || interForm.controls['technologyId']?.dirty)" class="error-message">
                                    Technology is required.
                                </div>
                            </div>
                        </div>
                    </div><br/>
        
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary" [disabled]="!interForm.valid">Update Intern</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
  </section>
