<!-- app-reset-password.component.html -->

<p>reset-password works!</p>

<div>
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

        <div class="form-group">
            <label for="newPassword">Enter new password:</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword" placeholder="New password" required>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm new password:</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm password" required>
        </div>

        <div *ngIf="resetPasswordForm.hasError('passwordsNotMatch')">
            Passwords do not match.
        </div>

        <button type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
    </form>
</div>
